.color-red {
  color: red;
}
.color-blue {
  color: blue;
}
.color-green {
  color: #4daf50;
}

.font-bold {
  font-weight: bold;
}

.font-size-large-px {
  font-size: 20px;
}
.font-size-small-px {
  font-size: 12px;
}
.font-size-large-em {
  font-size: 1.25em;
}
.font-size-small-em {
  font-size: 0.75em;
}
.font-size-large-per {
  font-size: 125%;
}
.font-size-small-per {
  font-size: 75%;
}

.text-underline {
  text-decoration: underline;
}
.text-strikethrough {
  text-decoration: line-through;
}

.background-red {
  background-color: red;
}
.background-blue {
  background-color: blue;
}
.background-green {
  background-color: #4daf50;
}
.background-red-margin {
  margin: 1em;
  background-color: red;
}
.background-blue-margin {
  margin: 1em;
  background-color: blue;
}
.background-green-margin {
  margin: 1em;
  background-color: #4daf50;
}
.background-red-padding {
  padding: 1em;
  background-color: red;
}
.background-blue-padding {
  padding: 1em;
  background-color: blue;
}
.background-green-padding {
  padding: 1em;
  background-color: #4daf50;
}
.background-red-margin-padding {
  margin: 1em;
  padding: 1em;
  background-color: red;
}
.background-blue-margin-padding {
  margin: 1em;
  padding: 1em;
  background-color: blue;
}
.background-green-margin-padding {
  margin: 1em;
  padding: 1em;
  background-color: #4daf50;
}
.background-image {
  padding: 100px 100px 50px 200px;
  background: url(/images/logo.png) no-repeat 0 50%;
}

.flex-container {
  display: flex;
  margin: 1em 0;
}
.flex-container-right {
  display: flex;
  justify-content: flex-end;
  margin: 1em 0;
}
.flex-container-reverse {
  display: flex;
  flex-flow: row-reverse;
  margin: 1em 0;
}
.flex-container-gap {
  display: flex;
  gap: 1em;
  margin: 1em 0;
}
.flex-item {
  padding: 1em;
  background-color: gray;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  background-color: red;
}
.position-relative-parent {
  position: relative;
  padding: 50px;
  background-color: gray;
}
.position-parent {
  padding: 50px;
  background-color: white;
}
.position-absolute-child {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  background-color: red;
}
